:root {
  --ff-main: Inter;
  --ff-supporting: PressStart2P;

  --fw-main: 400;
  --fw-h2: 700;

  --fz-header-h1: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --fz-header-span: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);

	--accent-color: #000;
  --text-shadow-label: #fff;

	--button-text-color: #fff;

	--heart-transparent-color: #fff;
	--heart-body-color: #FF0000;
	--heart-contour-color: #000;

  --page-background:
      repeating-linear-gradient(to right, #D3D3D3 0 2px, #D3D3D300 2px 4px),
      repeating-linear-gradient(to bottom, #D3D3D3 0 2px, #D3D3D300 2px 4px),
      linear-gradient(to bottom, #E7E7E7 0.01%, #1A1A1A);
}   